{
    auto_https off
    order cgi last
}

http:// {
    handle /* {
        cgi * /usr/share/gitweb/gitweb.cgi {
            dir /usr/share/gitweb
        }
    }

    handle /static/* {
        file_server {
            root /usr/share/gitweb
        }
    }
}